/* Default CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Lato', sans-serif; */
    font-size: 14px;
    background: #f0f0f0;
    overflow-x: hidden;
}

.clear-fix {
    overflow: hidden;
}

/* Header Top Section CSS */

#header-top {
    border-top: 6px solid #4CAF50;
    background: #fff;
    padding: 10px 0;
}
#header-top a {
    text-decoration: none;
}

#header-top .order-cart {
    float: left;
    padding: 5px 15px;

}
#header-top .order-cart a {
    /* color: #555555 !important; */
    font-weight: 600;
}
.checkout-cart {
    color: #555; 
    margin-left: 5px;
}
a:hover .checkout-cart {
    background: #F59F02;
}
.btn-primary {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
}
.btn-primary:hover {
    color:  #fff !important;
    background: #F59F02 !important;
    border-color: #F59F02;
}

#header-top ul.top-menu {
    float: right;
    padding-top: 10px;
    list-style: none;
}
#header-top ul.top-menu li {
    display: inline-block;
}
#header-top ul.top-menu li + li:before{
    content: "|\00a0";
    color: #535353;
    padding: 0 10px;
}
#header-top ul.top-menu li a {
    color: #555555;
    font-weight: 600;
}
#header-top ul.top-menu li a:hover {
    color: #286090;
}
a:focus, a:hover {
    color: #F59F02 !important;
}

.badge {
    background: #F59F02;
    margin-left: -4px;
    margin-top: -15px;
}


/* Navbar Section CSS */

.navbar{
    background: #fff;
    padding: 5px 0;
}
.navbar-collapse .right{
    float: right;
}
.navbar-brand{
    float: left;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 70px;
}
.navbar-brand:hover,
.navbar-brand:focus{
    text-decoration: none;
}
.navbar ul.nav > li > a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
.navbar ul.nav > li > a:hover{
    color: #F59F02;
}
.navbar ul.nav li.active a {
    color: #F59F02;
}
.padding-nav{
    padding-top: 10px;
}
.btn-primary{
    color: rgb(255, 255, 255);
    background: #4CAF50;
    border-color: #4CAF50;
}
.search-box-item {
    margin-left: 160px;
    width: 21%;
}

/* Slider Section CSS */

#slider{
    margin-bottom: 50px;
}
.slider-image {
    width: 100%;
    height: 500px;
    background-position: top center;

}
.slider-left {
    margin-top: 140%;
    font-size: 30px !important;
}
.slider-right {
    margin-top: 140%;
    font-size: 30px !important;
}
.slider-image {
    position: relative;
}
.slide-image {
    position: relative;
}
.slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}
.slider-text {
    position: absolute;
    top: 25%;
    left: 11%;

}
.slider-text h2 {
    color: #fff;
    font-size: 60px;
    margin-bottom: 15px;
}
.slider-text p {
    color: #fff;
    font-size: 20px;
    margin-bottom: 40px;
}
a>.slide-btn {
    color: #fff;
}
/* Advantages Section CSS */

#service{
    text-align: center;
}
#service .box{
    background: #ffffff;
    margin: 0 0 30px;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}
#service .box .icon{
    position: absolute;
    font-size: 120px;
    width: 100%;
    text-align: center;
    top: -14px;
    left: 0px;
    height: 100%;
    float: left;
    color: #dadada;
    box-sizing: border-box;
    z-index: 1;
}
#service .box h3{
    position: relative;
    margin: 0 0 20px;
    font-weight: 300;
    text-transform: uppercase;
    z-index: 2;
}
#service .box h3 a{
    color: #4CAF50;
}
#service .box h3 a:hover{
    text-decoration: none;
}
#service .box p{
    position: relative;
    z-index: 2;
    color: #555555;
}

/* Latest Products Section CSS */

#hot h2{
    font-size: 36px;
    font-weight: 400;
    color: #4CAF50;
    text-align: center;
    text-transform: uppercase;
}
.box{
    background: #ffffff;
    margin: 0 0 30px;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}

#content{
   padding-left: 25px; 
}
.single{
    width: 290px;
}

#content .product{
    background: #ffffff;
    border: solid 1px #e6e6e6;
    margin-bottom: 30px;
    box-sizing: border-box;
}
#content .product .text{
    /* padding: 10px 10px 0px; */
}
#content .product .text p.price{
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}
#content .product .text .button{
    text-align: center;
    clear: both;
}
#content .product .text .button .btn{
    margin-bottom: 10px;
}
#content .product .text h3{
    text-align: center;
    font-size: 20px;
}
#content .product .text h3 a{
    color: rgb(85, 85, 85);
}


/*  Footer Section CSS  */

#footer{
    background: #e0e0e0;
    padding: 20px 0;
}
#footer a{
    color: #999999;
    padding: 0;
    text-decoration: none;
}
#footer a:hover{
    color: #666666;
}
#footer ul{
    list-style: none;
    padding-left: 0px;
}
#footer .social{
    text-align: left;
}
#footer .social a{
    background: #4CAF50;
    margin: 0px 10px 0px 0px;
    display: inline-block;
    color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    vertical-align: bottom;
    text-decoration: none;
}
#footer .social a:hover{
    color: #fff !important;
    background: #F59F02;
}

/*  Copyright Section CSS  */

#copyright{
    background: #fff;
    color: #4CAF50;
    padding: 20px 0px;
    font-size: 13px;
    font-weight: 600;
}
#copyright p{
    margin: 0px;
}


/*  Shop Page CSS  */

/*  Breadcrumb Section CSS  */

.breadcrumb{
    padding: 8px 15px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
}
.breadcrumb li + li:before{
    content: "/\00a0";
    color: #cccccc;
}



/*  Products Categories & Categories Section CSS */
#content .panel.sidebar-menu{
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
}
#content .panel.sidebar-menu ul.nav.category-menu{
    margin-bottom: 20px;
}
#content .panel.sidebar-menu ul.nav.category-menu li a{
    text-transform: uppercase;
    font-weight: 600;
}
#content .panel.sidebar-menu h3{
    padding: 5px 0px;
    margin: 0px;
}



/*  Details Page Section CSS */

.details-slider-left {
    margin-top: 370%;
    font-size: 25px !important;
}
.details-slider-right {
    margin-top: 370%;
    font-size: 25px !important;
}

#content #productMain{
    margin-bottom: 30px;
}
#content #productMain .price{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}
#content #mainImage{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .7);
}
#content #thumbs a{
    display: block;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
    border: 2px solid transparent;
}
#content .headline{
    height: 305px;
}

.box-size {
    padding-left: 40px;
}

.button {
    text-align: center;
}
.button a {
    margin-bottom: 10px;
}


/*  Cart Page Section CSS  */

#content #cart .table tbody tr td img{
    width: 50px;
}
#content #cart .table tbody tr td input{
    width: 40px;
    text-align: right;
}
#content #cart .table tbody tr td{
    vertical-align: middle;
}
#content #cart .table tfoot{
    font-size: 18px;
}

.total-text {
    text-transform: uppercase;
    font-size: 20px;
    /* float: right; */
    display: block;
/*     margin-right: -60px; */
}
.total-price {
    float: right;
    margin-right: 26px;
}
.box .box-footer{
    background-color: #f7f7f7;
    margin: 30px -20px 20px;
    padding: 20px;
    border-top: 1px solid #eeeeee;
}
.box .box-footer:before,
.box .box-footer:after{
    content: "";
    display: table;
}
.box .box-footer:after{
    clear: both;
}
.box .box-header{
    background-color: #f7f7f7;
    margin: -20px -20px 20px;
    padding: 20px;
    border-top: 1px solid #eeeeee;
}
#content #order-summary table{
    margin-top: 20px;
}
#content #order-summary table td{
    color: #999999;
}
#content #order-summary table tr.total td,
#content #order-summary table tr.total th{
    font-size: 18px;
    color: #555555;
    font-weight: 700;
}


/*  For Firefox Only  */

@-moz-document url-prefix(){
    .form-height-custom{
        height: auto;
    }
}


#particles-slider {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    opacity: 0.8;
}



